# 6 If Statement

if <condition>:
    <code>
elif <condition>:
    <code>

...
else:
    <code>

In [5]:
age = 18

if age>=18:
    print("You are an adult!")
else:
    print("You are a kid")

You are an adult!

In [7]:
age = 15

if age>=18:
    print("You are an adult!")
else:
    print("You are a kid")

You are a kid

In [9]:
age = 30

if age>=18:
    print("You are an adult!")
else:
    print("You are a kid")

You are an adult!

In [11]:
age = 10

if age>=18:
    print("You are an adult!")
elif age>=13:
    print("You're a teenager")
else:
    print("You are a kid")

You are a kid

In [13]:
age = 15

if age>=18:
    print("You are an adult!")
elif age>=13:
    print("You're a teenager")
else:
    print("You are a kid")

You're a teenager

In [15]:
age = 25

if age>=18:
    print("You are an adult!")
elif age>=13:
    print("You're a teenager")
else:
    print("You are a kid")

You are an adult!

# For Loop

for <variable> in <iterable>:
    <code>
<iterable> = <

In [19]:
countries = ['Spain', 'United States', 'India', 'China', 'Brazil', 'England']

In [21]:
countries

['Spain', 'United States', 'India', 'China', 'Brazil', 'England']

In [23]:
for country in countries:
    print(country)

Spain
United States
India
China
Brazil
England

In [25]:
# enumerate
for i, country in enumerate(countries):
    print(i)
    print(country)

0
Spain
1
United States
2
India
3
China
4
Brazil
5
England

In [27]:
my_data = {'name': 'Victor', 'age': 45}
my_data

{'name': 'Victor', 'age': 45}

In [29]:
for key, value in my_data.items():
    print(key)
    print(value)

name
Victor
age
45