In [2]:
import pandas as pd

In [4]:
# reading the csv files
df_exams = pd.read_csv('/Users/vic/Downloads/StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Selecting One Column

# 1.1 Syntax 1

In [8]:
# Selecting a column with [] (prefered way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [12]:
# check out the data type of a column
type(df_exams['gender'])

pandas.core.series.Series

#core.series.Series -
This signifies that the result is a Pandas Series, a fundamental data structure in the Pandas library used for representing a single column or a sequence of values with associated labels (index).
In summary, df_exams['gender'] extracts the 'gender' column from the df_exams DataFrame, and the output of this operation is a Pandas Series object.

In [22]:
# series: attributes and methods
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

# 1.2 Syntax 2

In [24]:
# select a column with .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [26]:
# select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (3061062658.py, line 2)

In [30]:
# select the same column using []
df_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# 1 Selecting two or more columns

In [33]:
# select 2 columns using [[]]

In [35]:
# # check the data type of the selection

In [ ]:
# select 2 or more coming using [[]]