In [2]:
import pandas as pd
import numpy as np

# 1 Creating a dataframe from an array
# 1.1 Option 1

In [9]:
# creating an array
data = np.array([[1, 4], [2, 5], [3, 6]])

In [13]:
# Creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
            columns=['col1', 'col2'])

In [15]:
# Showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 1.2 Option 2

In [22]:
 # creating an array
data = ([[1, 4], [2, 5], [3, 6]])

In [24]:
# Creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
            columns=['col1', 'col2'])

In [26]:
# Showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# 2 Creating a dataFrame from a dictionary

In [39]:
# lists used for this example
states = ['California', 'Texas', 'Florida', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [41]:
# Storing lists within a dictionary
dict_states = {'States':states, 'Population':population}

In [43]:
# Creating the dataframe
df_population = pd.DataFrame(dict_states)

In [45]:
# showing the dataframe
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

# 3 Creating a DataFrame from a csv file

In [ ]:
# reading the csv file
pd.read_csv('StudentsPerformance.csv')

In [ ]:
# Show first 5 rows in a dataframe